button {
    background-color: White;
    width: 150px;
    text-align: center;
    padding: 10px 13px 10px 8px;
    box-shadow: 0px 2px 3px gray;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 12px;
}

button > img,
button > input,
button > span {
  vertical-align: middle;
}

button:hover, input:hover {
    background-color: LightGreen;
}

.red-hover:hover {
    background-color: red;
}

input {
    cursor: pointer;
}


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;