<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Generator</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>



<body>
    <div><h1>Welcome to the Sudoku Generator</h1></div>

    <form method="POST" action="/new_game">
        <button name="new_game" value="1"
                type="submit"
                class="button red-hover"
                title="Erase current game">
        <img src="static/images/new.png"/>
            <span>&nbsp;&nbsp;New Game</span>
        </button>
    </form>
    <br>














    <footer>
    Uicons by <a href="https://www.flaticon.com/uicons" target="_blank">Flaticon</a>
    </footer>

</body>

</html>

