body{
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font: 14px Helvetica;
  -webkit-print-color-adjust: exact !important;
  background-color: ghostwhite;
}

div {
  margin: auto;
}

button {
  background-color: white;
  margin: 3px;
  width: 150px;
  padding: 10px 13px 10px 8px;
  box-shadow: 0 2px 3px gray;
  border-radius: 4px;
  cursor: pointer;
}

button > img,
button > span {
  vertical-align: middle;
}


.input {
  width: 28px;
  height: 28px;
  border: white;
  text-align: center;
  padding: 0;
}

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

table {
  table-layout: fixed;
  border-collapse: collapse;
  background-color: white;
  margin-bottom: 5px;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
  border-left-width: thick;
}
td:nth-child(3n) {
  border-right:solid ;
  border-right-width: thick;
}
tr:first-child {
  border-top:solid;
  border-top-width: thick;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
  border-bottom-width: thick;
}

#color {
  background-color: lightblue;
}

button:hover, input:hover {
  background-color: lightGreen;
}

.green:hover {
  background-color: lightgreen;
}

.orange:hover {
  background-color: orange;
}

.red:hover {
  background-color: red;
}

#red-hover:hover {
  background-color: red;
}

#solvedPuzzleTable {
  display: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer {
  display: inline;
}

.grid {
  display: grid;
}

.no-grid {
  display: none;
}


@media print {

  .all {
    background-color: white !important;
  }


  .grid {
    display: none;
  }
  .no-grid {
    display: grid;
  }

  .footer {
    display: none;
  }
}

