

div {
  margin: 5px;
  display: grid;
  margin-left: auto;
  margin-right: auto
}



div.puzzle_and_buttons {
  margin: 0px;
  display: inline-flex;

}

a {
  color: black;

}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }



table {
  border-collapse: collapse;
  margin: 20px;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}
td:first-child {
  border-left:solid;
}
td:nth-child(3n) {
  border-right:solid ;
}
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}

button {
  background-color: White;
  width: 150px;
  text-align: center;
  padding: 10px 13px 10px 8px;
  box-shadow: 0px 2px 3px gray;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

button > img,
button > input,
button > span {
  vertical-align: middle;
}

button:hover, input:hover {
  background-color: LightGreen;
}

.red-hover:hover {
  background-color: red;
}

input {
  cursor: pointer;
}

header {
  text-align: center
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;}

